#ui-catalog {
  text-align: left;
  .ui-catalog-text {
    padding-left: 10px;
  }
  ul {
    padding-left: 18px;
    margin: 0;
    list-style: none;
  }
  ul.ui-article-index {
    padding-left: 0;
  }
}
